<h3>Recommended meetups</h3>
<div class="recommendations row">
  <h4>Today</h4>
  <div class="today col-sm-4 col-sm-offset-4">
    Group: Denver.rb<br/>
    Events: Creative Coding<br/>
    Location: 123 Main St Denver, CO<br/>
    Time: 5:30pm<br/>
    <a href="#" class="btn btn-success">Add to Calendar</a>
  </div>
</div>

<div class="recommendations row">
  <h4>Tomorrow</h4>
  <div class="tomorrow col-sm-4 col-sm-offset-4">
    Group: Denver.rb<br/>
    Events: Creative Coding<br/>
    Location: 123 Main St Denver, CO<br/>
    Time: 5:30pm<br/>
    <a href="#" class="btn btn-success">Add to Calendar</a>
  </div>
</div>

<% @recommended_events.each do |event| %>
  <div class="recommendations row">
    <h4><%= "**Sometime** fix this" %></h4>
    <div class="today col-sm-4 col-sm-offset-4">
      Group: <%= event.group['name'] %><br/>
      Event: <%= event.name %><br/>
      Location: <#%= "#{event.venue['name']}  #{event.venuer['address_1']} #{event.venue['city']}, #{event.venue['state']}  #{event.venue['zip']}" %><br/>
      Time: <%= DateTime.strptime((event.utc_offset + event.time).to_s, '%Q') %><br/>
      <a href="#" class="btn btn-success">Add to Calendar</a>
    </div>
  </div>
<% end %>

<div class="misc-links col-sm-4 col-sm-offset-4">
  <a href="#" class="btn btn-default">View More Event Recommendations</a><br/>
  <a href="#" class="btn btn-default">Join More Meetup Groups</a>
</div>
