<h3>Recommended meetups</h3>
<div class="recommendations row">
  <h4>Today</h4>
  <div class="today col-md-2 col-md-offset-5">
    Group: Denver.rb<br/>
    Events: Creative Coding</br/>
    Location: 123 Main St Denver, CO<br/>
    Time: 5:30pm<br/>
    <button><a href="#">Add to Calendar</a></button>
  </div>
</div>

<div class="recommendations row">
  <h4>Tomorrow</h4>
  <div class="tomorrow col-md-2 col-md-offset-5">
    Group: Denver.rb<br/>
    Events: Creative Coding</br/>
    Location: 123 Main St Denver, CO<br/>
    Time: 5:30pm<br/>
    <button><a href="#">Add to Calendar</a></button>
  </div>
</div>

<div class="col-md-2 col-md-offset-5">
  <a href="#">View More Event Recommendations</a><br/>
  <a href="#">Join More Meetup Groups</a>
</div>
