<!--<div class="how-it-works-button">
  <button>How it works</button>
</div>
  <div class="how-it-works-content">
    <div class="how-it-works-description col-sm-4 col-sm-offset-4">
      By looking at the meetups you've gone to in the past, your current
      location, as well as the availability listed on your Google Calendar,
      we're able to provide you better recommendations via our website,
      text messaging, and/or email.
    </div>
  </div>
-->
<div class="row">
  <div class="jumbotron col-sm-4 col-sm-offset-4">
    <h2>Plan To Meet</h2>
    <p>Improving the way you find meetups</p>
    <div class="login">
      <%= link_to "Sign up with Meetup", "/auth/meetup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div class="arrow">
  <a class="how-it-works">
    <i class="fa fa-angle-down fa-5x"></i>
  </a>

  <div class="row how-it-works-content">
    <div class="col-sm-4">
      test1dflkasdklfasjkldfljkasdfkjlsdalfkjasf f sdajfsad fsj aldfjl sdf sadfj ajlsf djsd fjk ajf lsjkld fajlksd fjk lsdfjkl asjklf slkjaf afsdkjf sjksadf dsfjka djkfkjlsfdlkjaf fjk lafljk sadjklf adkljf kjls dfajkl sfdkjlsdfa ksadfjk lasdfjk llkjsdaf asdf sadf jjakdfkjlakj lfjk sadkfj k
    </div>
    <div class="col-sm-4">
      test2
    </div>
    <div class="col-sm-4">
      test3
    </div>
</div>



<!--
<div class="happy">
  <#%= image_tag "happy_people.jpeg" %>
</div>
-->

