<div class="row">
  <div class="signup col-sm-4 col-sm-offset-4">
    <h2>Plan To Meet</h2>
    <p>Improving the way you find meetups</p>
    <div class="signup-button">
      <%= link_to "Sign up with Meetup", "/auth/meetup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div class="row how-it-works">
  <div class="col-sm-4">
    <i class="fa fa-search fa-4x"></i><br/>
    <p>We find events that matter to you based on which meetups you've attended in the past, your location, and availability</p>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-paper-plane fa-4x"></i>
    <p>Notifications are sent when we find a match, allowing you to spend more time doing the things you enjoy</p>
  </div>
  <div class="col-sm-4">
    <i class="fa fa-users fa-4x"></i>
    <p>Attend meetups and make connections</p>
  </div>
</div>
