<!--<div class="how-it-works-button">
  <button>How it works</button>
</div>
  <div class="how-it-works-content">
    <div class="how-it-works-description col-sm-4 col-sm-offset-4">
      By looking at the meetups you've gone to in the past, your current
      location, as well as the availability listed on your Google Calendar,
      we're able to provide you better recommendations via our website,
      text messaging, and/or email.
    </div>
  </div>
-->
<div class="row">
  <div class="jumbotron col-sm-4 col-sm-offset-4">
    <h2>Plan To Meet</h2>
    <p>Improving the way you find meetups</p>
    <div class="login">
      <%= link_to "Sign up with Meetup", "/auth/meetup", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>

<div class="arrow">
  <a class="how-it-works">
    <i class="fa fa-angle-down fa-5x"></i>
  </a>

  <div class="row how-it-works-content">
    <div class="col-sm-4">
      <i class="fa fa-search fa-3x"></i><br/>
      <p>We find events that matter to you based on which meetups you've attended in the past, your location, and availability</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-paper-plane fa-3x"></i>
      <p>Notifications are sent when we find a match, allowing you to spend more time doing the things you enjoy</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users fa-3x"></i>
      <p>Attend meetups and make connections</p>
    </div>
</div>



<!--
<div class="happy">
  <#%= image_tag "happy_people.jpeg" %>
</div>
-->

