$font: 'Droid Serif', serif;
$color: #2E2D2D;
//welcome#index
body {
  background-image: asset_url('flowers.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  font-size: 16px;
  font-weight: bold;
  color: $color;
  font-family: $font
}

h1, h2, h4 {
  text-align: center;
  font-family: $font;
  color: $color;
}

.signup-row {
  margin-top: 54px;
}

.signup {
  width: 375px;
  height: 250px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  float: none;
  margin: 0 auto;
}

.signup h2, .signup p {
  text-align: center;
  padding-top: 20px;
}

.signup-button {
  margin-top: 40px;
}

.how-it-works {
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  margin-top: 100px;
}

.how-it-works .fa {
  margin-top: 20px;
  margin-bottom: 20px;
}

.how-it-works p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.lh-50 {
  line-height: 50px;
}

p {
  font-family: $font;
  color: $color;
}

//users#show
.recommendations {
  text-align: center;
}

.recommendations .today, .recommendations .tomorrow {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $font;
  color: $color;
}

.recommendations h4 {
  color: rgb(235, 230, 230);
}

h3 {
  text-align: center;
  font-family: $font;
  color: rgb(235, 230, 230);
}

.button-success {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recommendations div {
  margin-bottom: 10px;
}

.misc-links {
  text-align: center;
}

.misc-links .btn-default {
  margin-top: 10px;
  width: 300px;
}
