.recommendations {
  text-align: center;
}

.recommendations .today, .recommendations .tomorrow {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-success {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recommendations div {
  margin-bottom: 10px;
}
