.recommendations .today, .recommendations .tomorrow {
  border: 2px solid rgb(102, 151, 237);
  border-radius: 15px;
}

.recommendations h4 {
  text-align: center;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.recommendations div {
  margin-bottom: 10px;
}
