// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3, h4, form {
  text-align: center;
}

.images, .down-arrow, .happy {
  text-align: center;
}

.images img {
  margin-top: 50px;
}

.down-arrow {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.meetup img, .map img {
  border: 2px solid rgb(102, 151, 237);
  border-radius: 15px;
}

.plus img {
  margin-top: 80px;
}

.login form {
  margin-top: 25px;
  text-align: center;
}

form input {
  border-radius: 5px;
}

.signup input {
  margin-left: 15px;
}
